.dataforms-layouts-panel__field-dropdown {
	.dataforms-combined-edit {
		border: none;
		padding: 0;
	}
}

.dataforms-combined-edit {
	&__field {
		flex: 1 1 auto;
	}

	p.components-base-control__help:has(.components-checkbox-control__help) {
		margin-top: $grid-unit-05;
	}
}
