.editor-error-boundary {
	font-family: $default-font;
	margin: auto;
	max-width: 780px;
	padding: 1em;
	margin-top: 60px;
	box-shadow: $elevation-large;
	border: $border-width solid $gray-900;
	border-radius: $radius-small;
	background-color: $white;
}
